*{
    margin: o;
    font-family:  'Open Sans', sans-serif;
  }
  /* Banner pannel */
  .banner{
    background-image: url('./images/banner/banner3.png');
    background-size: cover;
    width: 1200px;
    height: 630px;
    
  }
  .banner-title{
    color: #FFFFFF;
    font-size: 55px;
    width: 525px;
    text-align: right;
    line-height: 66px;
    margin-left: 600px;
    margin-top: 0px;
    padding-top:80px;
    padding-right: 80px;
    margin-bottom: 20px;  
    
  }
  .banner-discription{
    color: #FFFFFF;
    width: 494px;
    text-align: right; 
    margin-left: 600px;
    padding-left:40px;
    line-height: 26px;
    padding-top: 5px;  
    
  }
  .btn-primary{
    width: 160px;
    height: 64px;
    border-radius: 5px;
    margin-left: 975px;
    color: #005FAC;
    font-size: 16px;
    border: none;

    
  }
