*{
    margin: o;
    font-family:  'Open Sans', sans-serif;
  }
  /* Banner pannel */
  .banner{
    background-image: url('./images/banner/banner3.png');
    background-size: cover;
    width: 1200px;
    height: 630px;
    
  }
  .banner-title{
    color: #FFFFFF;
    font-size: 55px;
    width: 525px;
    text-align: right;
    line-height: 66px;
    margin-left: 600px;
    margin-top: 0px;
    padding-top:80px;
    padding-right: 80px;
    margin-bottom: 20px;  
    
  }
  .banner-discription{
    color: #FFFFFF;
    width: 494px;
    text-align: right; 
    margin-left: 600px;
    padding-left:40px;
    line-height: 26px;
    padding-top: 5px;  
    
  }
  .btn-primary{
    width: 160px;
    height: 64px;
    border-radius: 5px;
    margin-left: 975px;
    color: #005FAC;
    font-size: 16px;
    border: none;

    
  }
  /* work on second part*/

section{
  display: flex;
}

.img-failure{
  width: 569px;
  height: 723.3px;
  margin-left:120px;
  margin-top: 90px;


}
.failure{
  margin-top: 350px;
  padding-right: 80px;
}
.failure-title{
  width: 288px;
  height: 94px;
  line-height: 46px;
  font-size: 40px;
  color-scheme:#151414;
  margin-left: 100px;
  margin-top: 12px;
}
.F-discription{
  width: 416px;
  height: 104px; 
  color: #444343;
  margin-left: 100px;
  margin-bottom:5px ;
  line-height: 25px;
  
  
}
.list{
  color: #444343;
  margin-left: 100px;
  list-style: none;
  margin-top: 5px;
  
}
.line{
  margin-bottom: 10px;
  
}
.icon{
  margin-right: 10px;
  color: aquamarine;
}
